/* ==========================================================================
Main page styles
========================================================================== */
.simlife {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../static/images/logo-simlife-react.svg') no-repeat center top;
  background-size: contain;
}
